@import "../../css/quasar.variables.scss";

.card {
  animation: fade-in-animation 0.8s;
  position: relative;
  background-color: white;
  width: 170px;
  box-shadow: $shadow;
  padding: 5px;
  color: $text;
  font-weight: bold;
  padding-bottom: 40px;
  &__name {
    max-width: 80%;
    line-height: 22px;
    font-size: 26px;
    padding: 0 5px;
  }
  &__corner {
    right: 0;
    top: 0;
    width: 25px;
    position: absolute;
    right: 1px;
    top: 2px;
  }

  &__image {
    padding: 5px 0;
    width: calc(100% + 10px);
    margin: 0 -4px 0 -5px;
    max-height: 100px;
    object-fit: cover;
  }

  &__months {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    font-size: 14px;
    column-gap: 5px;
  }

  &__info {
    text-align: right;
    margin-top: 8px;
    font-size: 12px;
    position: absolute;
    right: 5px;
    bottom: 3px;
    display: flex;
    cursor: pointer;
    svg {
      height: 20px;
      text-decoration: none;
      font-style: none;
      background-color: green;
      padding: 4px;
      border-radius: 5px;
      fill: white;
    }
  }
  &__season {
    position: absolute;
    bottom: 0;
    font-size: 24px;
  }
  .month__wrap {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted $primary;
    opacity: 0.3;
    background-color: $info;
    font-family: Georgia, Arial, sans-serif;
    letter-spacing: -1px;

    img {
      background-size: cover;
      display: block;
      width: 16px;
      height: 16px;
    }
    &.is-active {
      border: 1px solid $secondary;
      background-color: $accent;
      box-shadow: $shadow;
      opacity: 1;
    }
    &.fruit, &.plant, &.flower {
      opacity: 1;
    }
    &.fruit {
      i {
        background-image: url('/statics/assets/fruit.png')
      }
      color: $collect;
    }

    &.plant {
      color: $plant;
      i {
        background-image: url('/statics/assets/seed.png')
      }
    }

    &.flower {
      color:$flower;
      i {
        background-image: url('/statics/assets/flower.png')
      }
    }

    span {
      padding: 0 1px;
    }
  }

  .month__image {
    width: 25px;
  }
}


@keyframes fade-in-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.own-filter {
  .is-not-owned {
    animation: fade-in-animation 1s;
    animation-delay: 0.3s;
    opacity: 0.3;
    order: 2;
    display: block;
  }
}
