.crafting-result {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(170px, max-content));
  padding: 5px;
  &__empty {
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: #845a25;
    a {
      color: #ec880e;
      text-decoration: underline;
    }
  }

}

.crafting-search {
  position: relative;
  display: grid;
  margin: 0 12px;
  grid-template-rows: 1fr;
  .close {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
    }

  }
  &.is-active {
    .close {
      display: block;
    }
  }
  &__searcher {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #845a25;
    &::placeholder {
      color: #845a25;
      opacity: 0.3;
    }

  }
}
.crafting-counter {
  font-weight: bold;
  padding: 0 20px;
  text-align: right;
  color: #bcb8a4;
  &__current {
    color: #f29900;
  }
  &__owned {
    color: green;
  }
}
