// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #269e64;
$secondary : #1D1D1D;
$accent    : #a0d786;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #e4fdd6;
$warning   : #F2C037;

$text      : #1D1D1D;

$shadow    : 2px 2px 2px #00000040;

$collect   : #1D1D1D;
$plant     : #1D1D1D;
$flower    : #1D1D1D;
